<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="WEB-INF/fragments :: head">
</head>

<body>
	<header th:replace="WEB-INF/fragments :: header"> </header>
	        <form name="form_cadastro" action="cadastro" onsubmit="return validateForm()" method="post">
            
            <input type="text" id="nome" name="nome" placeholder="Nome"/>
            <input type="text" id="sobrenome" name="sobrenome" placeholder="Sobrenome"/>
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="text"  id="telefone" name="telefone" placeholder="Telefone"/>
            <input type="password" id="senha" name="senha" placeholder="Senha">
            <input type="password" placeholder="Confirme a senha"/>

            <section id="genero">
                <p id="masculino">Masculino</p>
                <input type="range" id="genero" name="genero"/>
                <p id="feminino">Feminino</p>
            </section>
             
            <input type="date" id="dataNascimento" name="dataNascimento">

            <section id="termos">
                <input id="cb-termos" name="termos" type="checkbox"/>
                <label for="cb-termos">Eu concordo com os termos</label>
            </section>

            <input type="submit" value="Cadastrar"/>
            </form>
</body>
</html>