<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head th:replace="WEB-INF/fragments :: head">
</head>

<body>
	<header th:replace="WEB-INF/fragments :: header"> </header>
	<form name="login_form" action="login" onsubmit="" method="post">

		<input type="email" id="email" name="email"
			placeholder="Digite seu e-mail" /> <input type="password" id="senha"
			name="senha" placeholder="Digite sua senha" /> <input type="submit"
			value="Vai disgraçaaaaaa" />

	</form>
</body>
</html>